body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(70, 87, 152);
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
  letter-spacing: 0.3em;
}

h3 {
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/bridge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  margin: 0 auto;
  height: 350px;
  text-align: center;
  border-radius: 10px;
}

.header-button {
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
  width: 130px;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  transition: all 150ms ease-in-out;
}

.header-button:hover {
  background-color: rgb(129, 49, 49);
  color: white;
}

.code-link {
  text-decoration: none;
  color: rgb(240, 229, 229);
}

.code-link:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.top-section {
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 248, 241);
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
}

.main-info {
  padding: 30px 10px;
}

.img {
  max-width: 100%;
  margin: 5px;
  border-radius: 10px;
}

footer {
  background-image: linear-gradient(rgba(2, 0, 138, 0.5), rgba(1, 0, 70, 0.6)),
    url("../images/skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

footer a {
  color: white;
}

footer p {
  color: white;
  opacity: 0.8;
  font-size: 15;
}

.footer-container {
  grid-template-columns: 1fr 2fr 2fr;
  padding: 5px 10px;
}

footer div {
  padding: 15px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
    line-height: 1;
  }

  h3 {
    font-size: 15px;
    letter-spacing: 0.05em;
    margin: 5px;
  }

  footer p {
    font-size: 13px;
  }

  footer li {
    font-size: 13px;
  }

  .img {
    max-width: 75%;
  }

  .footer-container {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 5px;
  }

  .footer-container div {
    line-height: 1.2;
    padding: 5px;
  }

  .top-section {
    grid-template-columns: 1fr;
  }

  .main-info {
    padding: 5px 50px;
  }
}
