body {
  font-family: "Nunito", sans-serif;
  background-color: antiquewhite;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 60px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3 {
  color: white;
  font-size: 17px;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/bridge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  margin: 0 auto;
  height: 350px;
  text-align: center;
  border-radius: 10px;
}

.header-button {
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
  margin: 0 auto;
  width: 130px;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  transition: all 150ms ease-in-out;
}

.header-button:hover {
  background-color: rgb(129, 49, 49);
  color: white;
}

.code-link {
  text-decoration: none;
  color: rgb(129, 49, 49);
}

.code-link:hover {
  text-decoration: underline;
}

footer {
  background-image: linear-gradient(rgba(2, 0, 138, 0.4), rgba(1, 0, 70, 0.4)),
    url("../images/skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
    line-height: 1;
  }
}
